{% extends "layout.html" %}

{% block bar %}
	<li class = "active"><a href="#">Accept Order</a></li>
	<li><a href="{{url_for('sales_person')}}">Sales Person</a></li>
	<li><a href="{{url_for('logout')}}">Log out</a></li>
{% endblock %}

{% block body %}
	<h2>Sales Person</h2>
	
	<script type="text/javascript">
		
		function ChangeBackgroundColor(section, new_color)
		{
			section.style.backgroundColor = new_color;
		}
		function RestoreBackgroundColor(section)
		{
			section.style.backgroundColor = "#000000";
		}
	</script>


	
	<table>
		<!-- Tab -->
		<tr style="cursor:pointer">
			<th>
				<div style="background-color:#790a00; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#b92100; width:100%;" onclick="window.document.location='#'">
					<div style="color:white; text-align:center">
						Accept Order
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#009bff; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#009bff')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('sp_stock_items')}}'">
					<div style="color:white; text-align:center">
						Restock Items
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#30b500; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#30b500')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('sp_settings')}}'">
					<div style="color:white; text-align:center">
						Settings
					</div>
				</div>
			</th>
		</tr>
		<tr><td style="background-color:#ffffff" colspan=3>
			<div class="padded" style="background-color:#a81400; width:100%;">
				<div style="color:white; text-align:center">
					<h4>Accept Order</h4>
				</div>
			</div>
			
			<div class="padded" style="background-color: #ffe0df">
			
				{% for message in get_flashed_messages() %}
					<h5 style="text-align:center">{{ message }}</h5>
				{% endfor %}
				
				<table style="border: 0px">
				{% for order in orders %}
					<tr style="border: 2px solid #333;" bgcolor="#fdfdff">
						<td class = "padded">
							<img src="{{url_for('static', filename=order["img_path"] )}}" style="width: {{order['img_width']}}px">  			
              			</td>
						<td class="padded">
							<h3>{{order['itemname']}}</h3>
							<h4>Ordered by: {{order['username']}}</h4>
							Order #{{order['ordernum']}}
						</td>
						<!--<td class = "padded">-->
							<!--<strong>Item Barcode</strong>: {{order['barcode']}}-->
						<!--</td>-->
						<td class = "padded">
							<strong>Quantity</strong>: {{order['quantity']}}
						</td>
						<td class = "padded">
							<strong>Total Price</strong>: $<script>
                	var num = {{order['price']}};
                	document.write(parseFloat(Math.round(num * 100) / 100).toFixed(2));
                </script>
						</td>
						<td>
							<strong>Rating</strong>: {{order['rating']}}/5
						</td>
						
			              <td>
			              	<div class="padded">
								<form role="form" class="form-inline" action="{{ url_for('view_comments') }}" method="POST">
			   	     				<input type="hidden" name="barcode" value="{{order['barcode']}}">
			   	     				<input type="hidden" name="itemname" value="{{order['itemname']}}">
			   	     				<button type="submit" class="btn btn-success" value="submit">View Comments</button>
			   		   			</form></div>
        			      </td>
						<td class = "padded">
							<form role="form" class="form-inline" action="{{ url_for('accept_order_update') }}" method="POST">
   	     						<input type="hidden" name="ordernum" value="{{order['ordernum']}}">
   	    						<input type="hidden" name="accept" value="true">
   	    			 			<button type="submit" class="btn btn-success" value="submit">Accept</button>
   		   					</form>
   		   					<div style="padding-top: 10px">
   		   					<form role="form" class="form-inline" action="{{ url_for('accept_order_update') }}" method="POST">
   	     						<input type="hidden" name="ordernum" value="{{order['ordernum']}}">
   	    						<input type="hidden" name="accept" value="false">
   	    			 			<button type="submit" class="btn btn-danger" value="submit">Reject</button>
   		   					</form></div>
						</td>
					</tr>
					<tr style="border: 0px">
						<td><br></td>
					</tr>
				{% endfor %}
				</table>
			</div>
		</td></tr>
	</table> 
	
	<br>
	<br>
	<div style="font-size: 0px">.</div>
{% endblock %}
