{% extends "layout.html" %}

{% block bar %}

	<li class = "active"><a href="#">Apply</a></li>
	<li><a href="{{url_for('home')}}">Home</a></li>
{% endblock %}

{% block body %}

<div class="padded">
<div class="padded pretty">
	<h3>Apply to be a Sales Person</h3>
	<br>
	<form role="form" action="{{ url_for('submit_app') }}" method="POST">
   	     <div class="form-group">
   	       	<label for="name"><br>Name:</label>
   	       	<input type=text name=name class="form-control" placeholder="Enter Your Name">
   	       	<label for="num"><br>Phone Number:</label>
   	       	<input type=text name=num class="form-control" placeholder="Enter Your Phone Number">
   	       	<label for="email"><br>Email:</label>
   	       	<input type=text name=email class="form-control" placeholder="Enter Your Email">
   	       	<label for="address"><br>Address:</label>
   	       	<input type=text name=address class="form-control" placeholder="Enter Your Address">
   	       	<label for="education"><br>Highest Education:</label>
   	       	<input type=text name=education class="form-control" placeholder="State highest level of education (include major and school name if applicable)">
			<label for="experience"><br>Previous Experience:</label>
			<textarea class="form-control" rows="5" name=experience placeholder="State breifly your previous experience"></textarea>
			<label for="extra"><br>Extra Information:</label>
			<textarea class="form-control" rows="5" name=extra placeholder="Anything else you'd like us to know?"></textarea>
        </div>
   	    <button type="submit" class="btn btn-success" value="Submit">Submit</button>
   	</form>
   	<br>
   	<h5 style="font-size: 0px">hi!</h5>
</div>
</div>

	
{% endblock %}