{% extends "layout.html" %}

{% block bar %}
	<li class = "active"><a href="{{url_for('manager')}}">Manager</a></li>
	<li><a href="{{url_for('logout')}}">Log out</a></li>
{% endblock %}

{% block body %}
	<h2>Manager</h2>
	
	<script type="text/javascript">
		
		function ChangeBackgroundColor(section, new_color)
		{
			section.style.backgroundColor = new_color;
		}
		function RestoreBackgroundColor(section)
		{
			section.style.backgroundColor = "#000000";
		}
	</script>


	
	<table>
		<tr style="cursor:pointer">
			<th>
				<div style="background-color:#b92100; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#b92100')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('mg_browse_items')}}'">
					<div style="color:white; text-align:center">
						Browse Items
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#009bff; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#009bff')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('hire_sp')}}'">
					<div style="color:white; text-align:center">
						Applications
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#30b500; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#30b500')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('view_sp')}}'">
					<div style="color:white; text-align:center">
						View Sales People
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#790a00; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#b92100; width:100%;" onclick="window.document.location='#'">
					<div style="color:white; text-align:center">
						Blacklist Members
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#009bff; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#009bff')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('mg_settings')}}'">
					<div style="color:white; text-align:center">
						Settings
					</div>
				</div>
			</th>
		</tr>
		<tr><td style="background-color:#ffffff" colspan=5>
			<div class="padded" style="background-color:#a81400; width:100%;">
				<div style="color:white; text-align:center">
					<h4>Blacklist Members</h4>
				</div>
			</div>
			<div class="padded" style="background-color: #ffe0df">
				{% for message in get_flashed_messages() %}
					<h5 style="text-align:center">{{ message }}</h5>
				{% endfor %}
				<br>
				<table style="border: 0px">
				{% for user in users %}
					<tr style="border: 2px solid #333;" bgcolor="#ffffff"><td>
					
					<div class="padded">
						<h3>{{user['name']}}</h3>
					</td>
					<td>
						<strong>username</strong>: {{user['username']}}<br>
						<strong>password</strong>: {{user['password']}}
					</td>
					<td>
						<strong>email</strong>: {{user['email']}}
					</td>
					<td>
						<strong>blacklisted</strong>: 
						{% if user['blacklisted'] %}
							true
					</td>
					<td>
							<div class="padded">
							<form role="form" class="form-inline" action="{{ url_for('blacklist_update') }}" method="POST">
   	     						<input type="hidden" name="username" value="{{user['username']}}">
   	     						<input type="hidden" name="new_blist" value="false">
   	    						<input type="hidden" name="accept" value="true">
   	    			 			<button type="submit" class="btn btn-success" value="submit">Allow</button>
   		   					</form></div>
						{% else %}
							false
					</td>
					<td>
							<div class="padded">
							<form role="form" class="form-inline" action="{{ url_for('blacklist_update') }}" method="POST">
   	     						<input type="hidden" name="username" value="{{user['username']}}">
   	     						<input type="hidden" name="new_blist" value="true">
   	    						<input type="hidden" name="accept" value="true">
   	    			 			<button type="submit" class="btn btn-danger" value="submit">Blacklist</button>
   		   					</form></div>
						{% endif %}
					</td>
					</div>
					</tr>
					
					<tr style="border: 0px">
						<td><br></td>
					</tr>
				{% endfor %}
				</table>
				
			</div>
		</td></tr>
	</table> 
{% endblock %}







