{% extends "layout.html" %}

{% block bar %}
	<li class = "active"><a href="{{url_for('director')}}">Director</a></li>
	<li><a href="{{url_for('logout')}}">Log out</a></li>
{% endblock %}

{% block body %}
	<h2>Director</h2>
	
	<script type="text/javascript">
		
		function ChangeBackgroundColor(section, new_color)
		{
			section.style.backgroundColor = new_color;
		}
		function RestoreBackgroundColor(section)
		{
			section.style.backgroundColor = "#000000";
		}
	</script>


	
	<table>
		<!-- Tab -->
		<tr style="cursor:pointer">
			<th>
				<div style="background-color:#b92100; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#b92100')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('promote_demote')}}'">
					<div style="color:white; text-align:center">
						Promote & Demote
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#0021b9; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#009bff; width:100%;" onclick="window.document.location='#'">
					<div style="color:white; text-align:center">
						Browse Items
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#30b500; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#30b500')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('dt_settings')}}'">
					<div style="color:white; text-align:center">
						Settings
					</div>
				</div>
			</th>
		</tr>
		<tr><td style="background-color:#ffffff" colspan=3>
			<div class="padded container-fluid" style="background-color:#008bdf; width:100%;">
				<div class="row">
					<div class="col-xs-3"></div>
					<div class="col-xs-6" style="color:white; text-align:center">
						<h4>Browse Items</h4>
					</div>
					<div class="col-xs-3">
						<form action="{{ url_for('dt_search_items') }}" method=post>
        					<input style="padding-top: 0px" type=text  name=search placeholder="Search" value="{{ request.form.search}}">
     			   			<button style="padding: 5px; padding-left:10px; padding-right:10px " type=submit class="btn btn-default" aria-label="Left Align">
          						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        					</button>
    					</form>
    				</div>
    			</div>
			</div>
			
			<div class="padded" style="background-color: #dfefff">
				<table style="border: 0px">
				
				{% if not items %}
					<h3>No Items Found</h3>
				{% endif %}
				
				{% for item in items %}
					<tr style="border: 2px solid #333;" bgcolor="#fdfdff">
						<td class="padded">
                			<img src="{{url_for('static', filename=item["img_path"] )}}" style="width: {{item['img_width']}}px">
                			<br><strong>Barcode</strong>: {{item['barcode']}}
						</td>
						<td>
							<h3>{{item['itemname']}}</h3>
							by {{item['supplier']}}
						</td>
						<td>
							<strong>Price</strong>: $<script>
                	var num = {{item['price']}};
                	document.write(parseFloat(Math.round(num * 100) / 100).toFixed(2));
                </script>
						</td>
						<td>
							<strong>Quantity</strong>: {{item['quantity']}}
						</td>
						<td>
							{% if item['saleflag'] == "true" %}
								<strong>On Sale</strong>: &#x2713;  <!--  check mark  -->
							{% else %}
								<strong>On Sale</strong>: &#x2715;	 <!--  X mark  -->
							{% endif %}
						</td>
						<td>
							<strong>Rating</strong>: {{item['rating']}}/5
						</td>
              			<td>
             			 	<div class="padded">
								<form role="form" class="form-inline" action="{{ url_for('view_comments') }}" method="POST">
   	     							<input type="hidden" name="barcode" value="{{item['barcode']}}">
   	     							<input type="hidden" name="itemname" value="{{item['itemname']}}">
   	     							<button type="submit" class="btn btn-success" value="submit">View Comments</button>
   		   						</form></div>
            			  </td>
						<td>
							{% if item['saleflag'] == "true" %}
								<div class="padded">
								<form role="form" class="" action="{{ url_for('dt_edit_items') }}" method="POST">
   	     							<input type="hidden" name="barcode" value="{{item['barcode']}}">
   	    			 				<input type="hidden" name="saleflag" value="false">
   	    			 				<button type="submit" class="btn btn-info" value="submit">Take Off Sale</button>
   		   						</form></div>
   		   					{% else %}
   		   						<div class="padded">
	   		   					<form role="form" class="" action="{{ url_for('dt_edit_items') }}" method="POST">
   		     						<input type="hidden" name="barcode" value="{{item['barcode']}}">
   	    			 				<input type="hidden" name="saleflag" value="true">
   	    				 			<button type="submit" class="btn btn-info" value="submit">Put On Sale</button>
   		   						</form></div>
   		   					{% endif %}
   		   					<div class="padded" style="padding-top: 0;">
   		   					<form role="form" class="" action="{{ url_for('dt_remove_items') }}" method="POST">
   	     						<input type="hidden" name="barcode" value="{{item['barcode']}}">
   	    			 			<button type="submit" class="btn btn-danger btn-md" value="submit" >Remove Item</button>
   		   					</form></div>
						</td>
					</tr>
					<tr style="border: 0px">
						<td><br></td>
					</tr>
				{% endfor %}
				</table>
				
				<h4>Add New Item</h4>
				
				<form role="form" class="form-inline" action="{{ url_for('dt_add_items') }}" method="POST">
   	     			<div class="form-group">
   	       				<label for="itemname">Item Name:</label>
   	       				<input type=text name=itemname class="form-control" placeholder="Enter Item Name">
        			</div>
  	      			<div class="form-group">
   	    	   			<label for="price">&nbsp;Price:</label>
   	    	   			<input type=text name=price class="form-control" placeholder="Enter Price">
   	    	 		</div>
   	    	 		<div class="form-group">
   	    	   			<label for="category">&nbsp;Category:</label>
   	    	   			<input type=text name=category class="form-control" placeholder="Enter Category">
   	    	 		</div>
   	    	 		<div class="form-group">
   	    	   			<label for="quantity">&nbsp;Quantity:</label>
   	    	   			<input type=text name=quantity class="form-control" placeholder="Enter Quantity">
   	    	 		</div>
   	    	 		<div class="form-group">
   	    	   			<label for="supplier">&nbsp;Supplier:</label>
   	    	   			<input type=text name=supplier class="form-control" placeholder="Enter Supplier">
   	    	 		</div>&nbsp;
   	    	 		<div class="checkbox">
						<label><input type="checkbox" name=onsale value="true">&nbsp;On Sale?</label>
					</div>&nbsp;&nbsp;
   	    	 		<button type="submit" class="btn btn-success" value="Add">Add</button>
   		   		</form>
			</div>
		</td></tr>
	</table> 
	
	<br>
	<br>
	<div style="font-size: 0px">.</div>
{% endblock %}