{% extends "layout.html" %}

{% block bar %}
	<li class = "active"><a href="{{url_for('manager')}}">Manager</a></li>
	<li><a href="{{url_for('logout')}}">Log out</a></li>
{% endblock %}

{% block body %}
	<h2>Manager</h2>
	
	<script type="text/javascript">
		
		function ChangeBackgroundColor(section, new_color)
		{
			section.style.backgroundColor = new_color;
		}
		function RestoreBackgroundColor(section)
		{
			section.style.backgroundColor = "#000000";
		}
	</script>


	
	<table>
		<tr style="cursor:pointer">
			<th>
				<div style="background-color:#b92100; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#b92100')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('mg_browse_items')}}'">
					<div style="color:white; text-align:center">
						Browse Items
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#0021b9; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#009bff; width:100%;" onclick="window.document.location='#'">
					<div style="color:white; text-align:center">
						Applications
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#30b500; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#30b500')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('view_sp')}}'">
					<div style="color:white; text-align:center">
						View Sales People
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#b92100; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#b92100')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('blacklist_member')}}'">
					<div style="color:white; text-align:center">
						Blacklist Members
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#009bff; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#009bff')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('mg_settings')}}'">
					<div style="color:white; text-align:center">
						Settings
					</div>
				</div>
			</th>
		</tr>
		<tr><td style="background-color:#ffffff" colspan=5>
			<div class="padded" style="background-color:#008bdf; width:100%;">
				<div style="color:white; text-align:center">
					<h4>Applications</h4>
				</div>
			</div>
			<div class="padded container-fluid" style="background-color: #efefff">
			
			{% for message in get_flashed_messages() %}
				<h5 style="text-align:center">{{ message }}</h5>
			{% endfor %}
			
			<table style="border: 0px">
			{% for app in apps %}
				<br>
				<!--div class="row"-->
					<tr class="pretty">
					<td class="padded" style="padding-right: 30px">
						<h3>{{app['name']}}</h3>
						<h5>Application #{{app['app_num']}}</h5>
					</td>
					<td class="padded">
						<strong>Phone Number</strong>: {{app['phone_num']}}<br>
						<strong>Email</strong>: {{app['email']}}<br>
						<strong>Address</strong>: {{app['address']}}
					</td>
					<td class="padded">
						<strong>Education</strong>: {{app['education']}}
					</td>
					<td class="padded">
						<strong>Experience</strong>: {{app['experience']}}
					</td>
					<td class="padded">
						<strong>More Information</strong>: {{app['extra']}}
					</td>
					<td>
						<div class="padded">
						<form role="form" class="form-inline" action="{{ url_for('hire_sp_update') }}" method="POST">
   	     					<input type="hidden" name="app_num" value="{{app['app_num']}}">
   	    					<input type="hidden" name="accept" value="true">
   	    			 		<button type="submit" class="btn btn-success" value="submit">Accept</button>
   		   				</form></div>
   		   				
   		   				<div class="padded" style="padding-top: 0;">
   		   				<form role="form" class="form-inline" action="{{ url_for('hire_sp_update') }}" method="POST">
   	     					<input type="hidden" name="app_num" value="{{app['app_num']}}">
   	    					<input type="hidden" name="accept" value="false">
   	    					<button type="submit" class="btn btn-danger btn-md" value="submit" >Reject</button>
   		   				</form></div>
					</td>
					</tr>
					<tr><td><br></td></tr>
				<!--/div-->
			{% endfor %}
			</table>
			</div>
		</td></tr>
	</table> 
{% endblock %}