{% extends "layout.html" %}

{% block bar %}

	<li>
		{% if session["logged_in"] %}
			<h5 style="color: white; margin-top:0px; margin-bottom:0px; font-size: 18px"> {{session['position']}}, 
			
			{% if session['position'] == "Member" %}
				<a href="{{ url_for('member') }}" style="color: white">  {{session["currName"]}}</a>
			{% elif session['position'] == "Salesperson" %}
				<a href="{{ url_for('sales_person') }}" style="color: white">  {{session["currName"]}}</a>
			{% elif session['position'] == "Manager" %}
				<a href="{{ url_for('manager') }}" style="color: white">  {{session["currName"]}}</a>
			{% elif session['position'] == "Director" %}
				<a href="{{ url_for('director') }}" style="color: white">  {{session["currName"]}}</a>
			{% endif %}
			
			<a style="color: white; padding-left: 10px; font-size: 15px" href="{{url_for('logout')}}">Logout</a>
			</h5>
		{% else %}
			<div class = "padded" style="padding-top:18px; padding-right:0px" >
				<form role = "form" class = "form-inline" method="POST"
					action="{{ url_for('login') }}">
					<div class="form-group">
						<input type=text name=Username placeholder="Username">	
			        </div>
					<div class="form-group">
						<input type=password name=Password placeholder="Password">
			        </div>
			        <button type="submit" class="btn btn-success btn-xs" value="login">Login</button>
				</form>
			</div>
		{% endif %}
	</li>

	<li>
		<div class = "padded" style="padding-top:18px; padding-left:1px">
		</div>
	</li>
  {% if not session["logged_in"] %}
  <li ><a href="{{url_for('register_member')}}"> <button style="margin-left:-23px" type="submit" class="btn btn-success btn-xs" value="Register"  >Register</button> </a> </li>
	<li><a href="{{url_for('staff_login')}}">Staff Login</a></li>
	<li><a href="{{url_for('apply')}}">Apply Salesperson</a></li>

  {% endif %}
  
  {% if session['logged_in'] %}
  	{% if session['position'] == "Member" %}
	  <li><a href={{url_for('member_cart')}}>
	  	<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Cart
	  </a></li>
	  {% endif %}
  {% endif %}
  
  <li style="padding-top: 15px"class="search" >
    <form action="{{ url_for('search_items') }}" method=post>
        <input style="padding-top: 0px" 	type=text name=search placeholder="Search" value="{{ request.form.search}}">
        <button style="padding: 5px; padding-left:10px; padding-right:10px " type=submit class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </form>
  </li>

{% endblock %}




{% block body %}

			
			{% for message in get_flashed_messages() %}
				<h5 style="text-align:center">{{ message }}</h5>
			{% endfor %}

	
	<script type="text/javascript">
		
		function ChangeBackgroundColor(section, new_color)
		{
			section.style.backgroundColor = new_color;
		}
		function RestoreBackgroundColor(section)
		{
			section.style.backgroundColor = "#000000";
		}
	</script>


	
	<div class="padded" >
				<table style="border: 0px">
				{% if not items %}
					<h3>No Items Found</h3>
				{% else %}
					<h3>Inventory:</h3>
				{% endif %}
				
				{% for item in items %}
            <tr style="border: 2px solid #333;" bgcolor="#ffffff">
              <td class="padded">
                <img src="{{url_for('static', filename=item["img_path"] )}}" style="width: {{item['img_width']}}px">
              </td>
              <td>
                <h3>{{item['itemname']}}</h3>
                by {{item['supplier']}}
              </td>
              <td>
                <strong>Price</strong>: $<script>
                	var num = {{item['price']}};
                	document.write(parseFloat(Math.round(num * 100) / 100).toFixed(2));
                </script>
              </td>
              <td>
                <strong>Available</strong>: {{item['quantity']}}
              </td>
              
              <td>
              	<strong>Rating</strong>: {{item['rating']}}/5
              </td>
              
              <td>
              	<div class="padded">
					<form role="form" class="form-inline" action="{{ url_for('view_comments') }}" method="POST">
   	     				<input type="hidden" name="barcode" value="{{item['barcode']}}">
   	     				<input type="hidden" name="itemname" value="{{item['itemname']}}">
   	     				<button type="submit" class="btn btn-success" value="submit">View Comments</button>
   		   			</form></div>
              </td>
              
              {% if session['logged_in'] %}
              <td>
					<div class="padded">
					<form role="form" class="form-inline" action="{{ url_for('update_browse') }}" method="POST">
   	     				<input type="hidden" name="barcode" value="{{item['barcode']}}">
   	 					<input type="hidden" name="price" value="{{item['price']}}">
   	 					<input type="hidden" name="available" value="{{item['quantity']}}">
  						<div class="form-group" style="padding-bottom:6px">
                        	<strong>Quantity</strong>: <input type="text" name="quantity" style="width:70px">
                      	</div><br>
   	    			 	<button type="submit" class="btn btn-info" value="submit">Add to Cart</button>
   		   			</form></div>
              </td>
              {% endif %}
            </tr>
            <tr style="border: 0px">
              <td><br></td>
            </tr>
				{% endfor %}
				</table>
				
	<br>
	<br>
	<div style="font-size: 0px">.</div>
	
{% endblock %}
