<!doctype html>
<head>
	<title>The Hurricane</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class=page>
	<div class = "navbar navbar-inverse navbar-static-top">
		<div class = "container">
        	<a href = "{{url_for('home')}}" class = "navbar-brand"><h3>The Hurricane</h3></a>                   
            <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
            </button>
                               
            <div class = "collapse navbar-collapse navHeaderCollapse">
            	<ul class = "nav navbar-nav navbar-right">
					{% block bar %}{% endblock %}
            	</ul>
        	</div>                    
    	</div>
    </div>
		{% block body %}{% endblock %}
	</div>
</div>
</body>

<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src = "{{url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>