{% extends "layout.html" %}

{% block bar %}
	<li class = "active"><a href="#">Browse Items</a></li>
	<li><a href="{{url_for('member')}}">Member</a></li>
	<li><a href="{{url_for('logout')}}">Log out</a></li>
{% endblock %}

{% block body %}

	<h2>Member</h2>
	
	<script type="text/javascript">
		
		function ChangeBackgroundColor(section, new_color)
		{
			section.style.backgroundColor = new_color;
		}
		function RestoreBackgroundColor(section)
		{
			section.style.backgroundColor = "#000000";
		}
	</script>


	
	<table>
		<!-- Tab -->
		<tr style="cursor:pointer">
			<th>
				<div style="background-color:#790a00; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#b92100; width:100%;" onclick="window.document.location='#'">
					<div style="color:white; text-align:center">
					  Cart
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#009bff; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#009bff')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('member_order_history')}}'">
					<div style="color:white; text-align:center">
						Order History
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#30b500; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#30b500')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('member_setting')}}'">
					<div style="color:white; text-align:center">
					  Settings
					</div>
				</div>
			</th>
			<!--<th>-->
				<!--<div style="background-color:#b92100; width:100%; height:3px;">-->
				<!--</div>-->
				<!--<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#b92100')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('blacklist_member')}}'">-->
					<!--<div style="color:white; text-align:center">-->
						<!--Blacklist Members-->
					<!--</div>-->
				<!--</div>-->
			<!--</th>-->
		</tr>
		<tr><td style="background-color:#ffffff" colspan=3>
			<div class="padded" style="background-color:#a81400; width:100%;">
				<div style="color:white; text-align:center">
					<h4>Cart</h4>
				</div>
			</div>
			
			<div class="padded" style="background-color: #dfefff">
				Items in db:<br>
				{{items}}
				<table style="border: 0px">
				{% for item in items %}
            <tr style="border: 2px solid #333;" bgcolor="#fdfdff">
              <td>
                picture
              </td>
              <td>
                <h3>{{item['itemname']}}</h3>
                by {{item['supplier']}}
              </td>
              <td>
                Price: ${{item['price']}}
              </td>
              <td>
                Quantity: {{item['cart.quantity']}}
              </td>
            </tr>
            <tr style="border: 0px">
              <td><br></td>
            </tr>
				{% endfor %}
				</table>

				
				{% if not items %}
					No Items
				{% else %}
          <form>
          <button type="submit" formaction="{{url_for('checkout')}}" class="btn btn-info" >Checkout</button>
          </form>
				{% endif %}
				
		</td></tr>
	</table> 
	
	<br>
	<br>
	<div style="font-size: 0px">.</div>
	
{% endblock %}
