{% extends "layout.html" %}

{% block bar %}
	<li class = "active"><a href="#">Comment</a></li>
	<li><a href="{{url_for('member')}}">Member</a></li>
	<li><a href="{{url_for('logout')}}">Log out</a></li>
{% endblock %}

{% block body %}
	
	<h2>Member</h2>
	
	<script type="text/javascript">
		
		function ChangeBackgroundColor(section, new_color)
		{
			section.style.backgroundColor = new_color;
		}
		function RestoreBackgroundColor(section)
		{
			section.style.backgroundColor = "#000000";
		}
	</script>


	
	<table>
		<!-- Tab -->
		<tr style="cursor:pointer">
			<th>
				<div style="background-color:#790a00; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#b92100')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('member_cart')}}'">
					<div style="color:white; text-align:center">
						Cart
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#009bff; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#009bff; width:100%;" onclick="window.document.location='#'">
					<div style="color:white; text-align:center">
						Order History
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#30b500; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, "#30b500")" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('member_setting')}}'">
					<div style="color:white; text-align:center">
					  Setting
					</div>
				</div>
			</th>
		</tr>
		<tr><td style="background-color:#ffffff" colspan=3>
			<div class="padded" style="background-color:#008bdf; width:100%;">
				<div style="color:white; text-align:center">
					<h4>Order History</h4>
				</div>
			</div>
			
			<div class="padded" style="background-color: #dfefff">
				
				{% for message in get_flashed_messages() %}
					<h5 style="text-align:center">{{ message }}</h5>
				{% endfor %}
			
				<table style="border: 0px">
				
				
				{% for item in items %}
            <tr style="border: 2px solid #333;" bgcolor="#fdfdff">
              <td class="padded">
              	<img src="{{url_for('static', filename=item["img_path"] )}}" style="width: {{item['img_width']}}px">  			
              </td>
              <td>
                <h3>{{item['itemname']}}</h3>
                by {{item['supplier']}}<br>
                name is {{item['meusername']}}
                
              </td>
              <td>
                <strong>Status</strong>:
                {% if item['accepted'] == "true" %}
                	accepted
                {% elif item['accepted'] == "false" %}
                	rejected
                {% elif item['accepted'] == "pending" %}
                	pending
                {% endif %}
              </td>
              <td>
                <strong>Price</strong>: $<script>
                	var num = {{item['price']}};
                	document.write(parseFloat(Math.round(num * 100) / 100).toFixed(2));
                </script>
              </td>
              <td>
                <strong>Quantity</strong>: {{item['quantity']}}
              </td>
              <td>
              	<div class="padded">
					<form role="form" class="form-inline" action="{{ url_for('rate_product') }}" method="POST">
   	     				<input type="hidden" name="barcode" value="{{item['barcode']}}">
   	     				<div class="padded" style="padding-bottom: 0px"><strong>Rate Product</strong>:<br>
   	     				</div>
   	     				<div class="padded">
   	    			 	  <select class="form-control" name="rating">
    						<option>1</option>
    						<option>2</option>
    						<option>3</option>
    						<option>4</option>
    						<option>5</option>
    					</select>
    					</div>
    						<br>
   	    			 	<div class="padded" style="padding-top: 0px; margin-top -20px">
   	    			 		<button type="submit" class="btn btn-success" value="submit">Rate</button>
   	    			 	</div>
   		   			</form></div>
              </td>
              <td>
				<div class="padded">
					<form role="form" class="form-inline" action="{{ url_for('comment_on_product') }}" method="POST">
   	     				<input type="hidden" name="barcode" value="{{item['barcode']}}">
   	    				<textarea class="form-control" rows="5" name=comment placeholder="Comment on product"></textarea>
   	    			 	<br>
   	    			 	<div class="padded">
   	    			 		<button type="submit" class="btn btn-success" value="submit">Submit Comment</button>
   	    			 	</div>
   		   			</form></div>
              </td>
            </tr>
            <tr style="border: 0px"><td><br></td></tr>
				{% endfor %}
				</table>
				
				{% if not items %}
					No Items
				{% endif %}
				
		</td></tr>
	</table> 
	
	<br>
	<br>
	<div style="font-size: 0px">.</div>
{% endblock %}
