{% extends "layout.html" %}

{% block bar %}

	<li class = "active"><a href="#">Anthony</a></li>
	<li><a href="#">Browse</a></li>
	<li><a href="#">Order History</a></li>
	<li><a href="#">Comment</a></li>
	<li><a href="#">Complain</a></li>
	<li><a href="#">Settings <span class="glyphicon glyphicon-cog"></span></a></li>
	<li><a href="{{url_for('logout')}}">Log out</a></li>
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-md-4"><h1>Hi, Anthony</h1></div>
		<div class="col-md-4"></div>
		<div class="col-md-4" align="right">
			<input class="form-control" id="Search" type="text" placeholder="Search">
			<a href="#" class="btn btn-info btn-md">
				<span class="glyphicon glyphicon-search" ></span> Search
			</a>
		</div>
	</div>
	
	<br>
	
	<div class="padded" style="background-color: #ffffff; border: 2px solid;">
		<h2>Cart</h2>
		
		<!-- Dress -->
		<div class="padded" style="background-color: #ffffff; border: 1px solid;">
			<img src="{{url_for('static', filename='images/dress.png')}}" style="width:70px">
			<text style="font-size:23px"> &nbsp; Dress</text>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<text style="font-size:16px">Quantity: </text>
			<text style="font-size:14px">35</text>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<text style="font-size:16px">Order Date: </text>
			<text style="font-size:14px">5/31/15</text>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<text style="font-size:16px">Est. Ship Date: </text>
			<text style="font-size:14px">6/1/15</text>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<text style="font-size:16px">Est. Arrival Date: </text>
			<text style="font-size:14px">6/15/15</text>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<text style="font-size:16px">Item ID: </text>
			<text style="font-size:14px">15317</text>
			<div align="right">
				<a href="#" class="btn btn-danger btn-md">Cancel</a>
			</div>
		</div>
		
		<br>
		<!-- Milk -->
		<div class="padded" style="background-color: #ffffff; border: 1px solid;">
			<img src="{{url_for('static', filename='images/milk.jpg')}}" style="width:70px">
			<text style="font-size:23px"> &nbsp; Milk</text>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<text style="font-size:16px">Quantity: </text>
			<text style="font-size:14px">104</text>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<text style="font-size:16px">Order Date: </text>
			<text style="font-size:14px">5/31/15</text>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<text style="font-size:16px">Est. Ship Date: </text>
			<text style="font-size:14px">6/2/15</text>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<text style="font-size:16px">Est. Arrival Date: </text>
			<text style="font-size:14px">6/23/15</text>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<text style="font-size:16px">Item ID: </text>
			<text style="font-size:14px">17483</text>
			<div align="right">
				<a href="#" class="btn btn-danger btn-md">Cancel</a>
			</div>
		</div>
		
		<br>
		<!-- Car -->
		<div class="padded" style="background-color: #ffffff; border: 1px solid;">
			<img src="{{url_for('static', filename='images/car.jpg')}}" style="width:100px">
			<text style="font-size:23px"> &nbsp; Car</text>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<text style="font-size:16px">Quantity: </text>
			<text style="font-size:14px">3</text>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<text style="font-size:16px">Order Date: </text>
			<text style="font-size:14px">3/16/14</text>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<text style="font-size:16px">Est. Ship Date: </text>
			<text style="font-size:14px">3/21/15</text>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<text style="font-size:16px">Est. Arrival Date: </text>
			<text style="font-size:14px">4/23/16</text>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<text style="font-size:16px">Item ID: </text>
			<text style="font-size:14px">8634</text>
			<div align="right">
				<a href="#" class="btn btn-danger btn-md">Cancel</a>
			</div>
		</div>
		
				
		<br>
		<a href="#" class="btn btn-success btn-lg">
			<span class="glyphicon glyphicon-shopping-cart"></span> Checkout
		</a>
		<br>
	</div>
	<br>
	
{% endblock %}