{% extends "layout.html" %}

{% block bar %}
	<li class = "active"><a href="{{url_for('manager')}}">Manager</a></li>
	<li><a href="{{url_for('logout')}}">Log out</a></li>
{% endblock %}

{% block body %}
	<h2>Manager</h2>
	
	<script type="text/javascript">
		
		function ChangeBackgroundColor(section, new_color)
		{
			section.style.backgroundColor = new_color;
		}
		function RestoreBackgroundColor(section)
		{
			section.style.backgroundColor = "#000000";
		}
	</script>


	
	<table>
		<tr style="cursor:pointer">
			<th>
				<div style="background-color:#790a00; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#b92100; width:100%;" onclick="window.document.location='#'">
					<div style="color:white; text-align:center">
						Browse Items
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#009bff; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#009bff')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('hire_sp')}}'">
					<div style="color:white; text-align:center">
						Applications
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#30b500; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#30b500')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('view_sp')}}'">
					<div style="color:white; text-align:center">
						View Sales People
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#b92100; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#b92100')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('blacklist_member')}}'">
					<div style="color:white; text-align:center">
						Blacklist Members
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#009bff; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#009bff')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('mg_settings')}}'">
					<div style="color:white; text-align:center">
						Settings
					</div>
				</div>
			</th>
		</tr>
		<tr><td style="background-color:#ffffff" colspan=5>
			<div class="padded container-fluid" style="background-color:#a81400; width:100%;">
				<div class="row">
					<div class="col-xs-3"></div>
					<div class="col-xs-6" style="color:white; text-align:center">
						<h4>Browse Items</h4>
					</div>
					<div class="col-xs-3">
						<form action="{{ url_for('mg_search_items') }}" method=post>
        					<input style="padding-top: 0px" type=text name=search placeholder="Search" value="{{ request.form.search}}">
     			   			<button style="padding: 5px; padding-left:10px; padding-right:10px " type=submit class="btn btn-default" aria-label="Left Align">
          						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        					</button>
    					</form>
    				</div>
    			</div>
			</div>
			<div class="padded" style="background-color: #ffe0df">
				
				{% for message in get_flashed_messages() %}
					<h5 style="text-align:center">{{ message }}</h5>
				{% endfor %}
				<br>
				<table style="border: 0px">
				
				{% if not items %}
					<h3>No Items Found</h3>
				{% endif %}
				
				{% for item in items %}
					<tr style="border: 2px solid #333;" bgcolor="#fdfdff">
						<td class="padded">
             			   <img src="{{url_for('static', filename=item["img_path"] )}}" style="width: {{item['img_width']}}px">
                			<br><strong>Barcode</strong>: {{item['barcode']}}
						</td>
						<td style="padding-bottom: 10px">
							<h3>{{item['itemname']}}</h3>
							by {{item['supplier']}}
						</td>
						<td>
							<strong>Price</strong>: $<script>
                	var num = {{item['price']}};
                	document.write(parseFloat(Math.round(num * 100) / 100).toFixed(2));
                </script>
						</td>
						<td>
							<strong>Quantity</strong>: {{item['quantity']}}
						</td>
						<td>
							{% if item['saleflag'] == "true" %}
								<strong>On Sale</strong>: &#x2713;  <!--  check mark  -->
							{% else %}
								<strong>On Sale</strong>: &#x2715;	 <!--  X mark  -->
							{% endif %}
						</td>
						<td>
							<strong>Rating</strong>: {{item['rating']}}/5
						</td>
			              <td>
			              	<div class="padded">
								<form role="form" class="form-inline" action="{{ url_for('view_comments') }}" method="POST">
			   	     				<input type="hidden" name="barcode" value="{{item['barcode']}}">
			   	     				<input type="hidden" name="itemname" value="{{item['itemname']}}">
			   	     				<button type="submit" class="btn btn-success" value="submit">View Comments</button>
			   		   			</form></div>
        			      </td>
						<td>
							<form role="form" class="form-inline" action="{{ url_for('mg_update_items') }}" method="POST">
   	     						<input type="hidden" name="barcode" value="{{item['barcode']}}">
  	      						<div class="form-group" style="padding-bottom:6px; padding-left: 4px">
   		    	   					<input type=text name=new_price style="width:70px" placeholder="$">
   		    	 				</div><br>
   		    	 				<div style="padding-left: 4px">
			   	    	 			<button type="submit" class="btn btn-success btn-xs" value="Add">Change Price</button>
			   	    	 		</div>
	   		   				</form>
						</td>
					</tr>
					<tr style="border: 0px">
						<td><br></td>
					</tr>
				{% endfor %}
				</table>
			</div>
		</td></tr>
	</table> 
{% endblock %}
