{% extends "layout.html" %}

{% block bar %}
	<li class = "active"><a href="{{url_for('manager')}}">Manager</a></li>
	<li><a href="{{url_for('logout')}}">Log out</a></li>
{% endblock %}

{% block body %}
	<h2>Manager</h2>
	
	<script type="text/javascript">
		
		function ChangeBackgroundColor(section, new_color)
		{
			section.style.backgroundColor = new_color;
		}
		function RestoreBackgroundColor(section)
		{
			section.style.backgroundColor = "#000000";
		}
	</script>


	
	<table>
		<tr style="cursor:pointer">
			<th>
				<div style="background-color:#b92100; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#b92100')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('mg_browse_items')}}'">
					<div style="color:white; text-align:center">
						Browse Items
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#009bff; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#009bff')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('hire_sp')}}'">
					<div style="color:white; text-align:center">
						Applications
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#30b500; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#30b500')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('view_sp')}}'">
					<div style="color:white; text-align:center">
						View Sales People
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#b92100; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#b92100')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('blacklist_member')}}'">
					<div style="color:white; text-align:center">
						Blacklist Members
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#0021b9; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#009bff; width:100%;" onclick="window.document.location='#'">
					<div style="color:white; text-align:center">
						Settings
					</div>
				</div>
			</th>
		</tr>
		<tr><td style="background-color:#ffffff" colspan=5>
			<div class="padded" style="background-color:#008bdf; width:100%;">
				<div style="color:white; text-align:center">
					<h4>Settings</h4>
				</div>
			</div>
			<div class="container-fluid">
			<div class="padded row" style="background-color: #efefff">
				{% for message in get_flashed_messages() %}
					<h5 style="text-align:center">{{ message }}</h5>
				{% endfor %}
					
				<form role="form" action="{{ url_for('mg_update_settings') }}" method="POST">
   	     			<div class="col-xs-4" style="text-align: right">
						<h4><strong><br>Change Name:<br><br>
						<div style="padding-top: 2px">
							Username:<br><br>
						</div>
						<div style="padding-top: 8px">
							Change Password:<br><br>
						</div>
						<div style="padding-top: 21px">
							Change Email:
						</div>
						</strong></h4>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
   	       					<label for="name"></label>
   	       					<input type=text name=name class="form-control" value="{{user['name']}}">
        				</div>
						&nbsp;&nbsp;&nbsp;{{user['username']}}
						<div class="form-group">
   	       					<label for="password"></label>
   	       					<input type=text name=password class="form-control" value="{{user['password']}}">
        				</div>
						<div class="form-group" style="margin-top: -10px">
   	       					<label for="email"></label>
   	       					<input type=text name=email class="form-control" value="{{user['email']}}">
        				</div>
						</h4>
						<input type="hidden" name="username" value="{{user['username']}}">
   	    	 			<button type="submit" class="btn btn-success" value="Save">Save Changes</button>
					</div>
				</form>
			</div>
			</div>
		</td></tr>
	</table> 
{% endblock %}