{% extends "layout.html" %}

{% block bar %}
	<li class = "active"><a href="{{url_for('director')}}">Director</a></li>
	<li><a href="{{url_for('logout')}}">Log out</a></li>
{% endblock %}

{% block body %}
	<h2>Director</h2>
	
	<script type="text/javascript">
		
		function ChangeBackgroundColor(section, new_color)
		{
			section.style.backgroundColor = new_color;
		}
		function RestoreBackgroundColor(section)
		{
			section.style.backgroundColor = "#000000";
		}
	</script>


	
	<table>
		<tr style="cursor:pointer">
			<th>
				<div style="background-color:#790a00; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#b92100; width:100%;" onclick="window.document.location='#'">
					<div style="color:white; text-align:center">
						Promote & Demote
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#009bff; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#009bff')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('dt_browse_items')}}'">
					<div style="color:white; text-align:center">
						Browse Items
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#30b500; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#30b500')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('dt_settings')}}'">
					<div style="color:white; text-align:center">
						Settings
					</div>
				</div>
			</th>
		</tr>
		<tr><td style="background-color:#ffffff" colspan=3>
			<div class="padded" style="background-color:#a81400; width:100%;">
				<div style="color:white; text-align:center">
					<h4>Promote & Demote</h4>
				</div>
			</div>
			<div class="padded" style="background-color: #ffe0df">
			
			{% for message in get_flashed_messages() %}
				<h5 style="text-align:center">{{ message }}</h5>
			{% endfor %}
			
			<table style="border:0px">
			{% for user in users %}
				<tr style="border: 2px solid #333;" bgcolor="#fdfdff"><td style="padding-left: 20px;">
					<h3>{{user['name']}}</h3>
					<h4>{{user['position']}}</h4>
				</td>
				<td>
					<strong>username</strong>: {{user['username']}}<br>
					<strong>password</strong>: {{user['password']}}
				</td>
				<td>
					<strong>email</strong>: {{user['email']}}
				</td>
				<td>
					{% if user['position'] == "Salesperson" %}
						<div class="padded">
						<form role="form" class="" action="{{ url_for('promote_update') }}" method="POST">
   	     					<input type="hidden" name="username" value="{{user['username']}}">
   	     					<input type="hidden" name="action" value="promote">
   	    					<input type="hidden" name="accept" value="true">
   	    			 		<button type="submit" class="btn btn-success" value="submit">Promote</button>
   		   				</form></div>
					{% else %}
						<div class="padded">
						<form role="form" class="" action="{{ url_for('promote_update') }}" method="POST">
   	     					<input type="hidden" name="username" value="{{user['username']}}">
   	     					<input type="hidden" name="action" value="demote">
   	    					<input type="hidden" name="accept" value="true">
   	    			 		<button type="submit" class="btn btn-danger" value="submit">Demote</button>
   		   				</form></div>
					{% endif %}
				</td>
				</tr><tr><td><br></td></tr>
			{% endfor %}
			</table>
			</div>
		</td></tr>
	</table> 
{% endblock %}