{% extends "layout.html" %}

{% block bar %}
	<li class = "active"><a href="#">Register</a></li>
	<li><a href="{{url_for('home')}}">Home</a></li>
{% endblock %}

{% block body %}

	{% for message in get_flashed_messages() %}
		<h5 style="text-align:center">{{ message }}</h5>
	{% endfor %}

	<div class="padded">
<div class="padded pretty">
	<h3>Member Registration</h3>
	<br>
	<form role="form" action="{{url_for('submit_reg')}}" method = "POST">
   	     <div class="form-group">
   	       	<label for="name"><br>Name:</label>
   	       	<input type=text name=name class="form-control" placeholder="Enter Your Name">
   	       	<label for="username"><br>Username:</label>
   	       	<input type=text name=username class="form-control" placeholder="Enter a Username">
   	       	<label for="password"><br>Password:</label>
   	       	<input type=text name=password class="form-control" placeholder="Enter Your Password">
   	       	<label for="email"><br>Email:</label>
   	       	<input type=text name=email class="form-control" placeholder="Enter Your Email">
        </div>
   	    <button type="submit" class="btn btn-success" value="Submit1">Register</button>
   	</form>
   	<br>
   	<h5 style="font-size: 0px">hi!</h5>
</div>
</div>


{% endblock %}