{% extends "layout.html" %}

{% block bar %}

	<li class = "active"><a href="#">Sales Person</a></li>
	<li><a href="{{url_for('logout')}}">Log out</a></li>
{% endblock %}

{% block body %}
	
{% endblock %}