{% extends "layout.html" %}

{% block bar %}

	<!-- <li class = "active"><a href="#">Home</a></li>    -->

	<li>
		{% if session["logged_in"] %}
			<h5 style="color: white; margin-top:0px; margin-bottom:0px; font-size: 18px"> {{session['position']}}, 
			
			{% if session['position'] == "Member" %}
				<a href="{{ url_for('member') }}" style="color: white">  {{session["currName"]}}</a>
			{% elif session['position'] == "Salesperson" %}
				<a href="{{ url_for('sales_person') }}" style="color: white">  {{session["currName"]}}</a>
			{% elif session['position'] == "Manager" %}
				<a href="{{ url_for('manager') }}" style="color: white">  {{session["currName"]}}</a>
			{% elif session['position'] == "Director" %}
				<a href="{{ url_for('director') }}" style="color: white">  {{session["currName"]}}</a>
			{% endif %}
			
			<a style="padding-left: 10px; font-size: 15px" href="{{url_for('logout')}}">Logout</a>
			</h5>
		{% else %}
			<div class = "padded" style="padding-top:18px; padding-right:0px" >
				<form role = "form" class = "form-inline" method="POST"
					action="{{ url_for('login') }}">
					<div class="form-group">
						<input type=text name=Username placeholder="Username">	
			        </div>
					<div class="form-group">
						<input type=password name=Password placeholder="Password">
			        </div>
			        <button type="submit" class="btn btn-success btn-xs" value="login">Login</button>
				</form>
			</div>
		{% endif %}
	</li>

	<li>
		<div class = "padded" style="padding-top:18px; padding-left:1px">
		</div>
	</li>
  {% if not session["logged_in"] %}
  <li ><a href="{{url_for('register_member')}}"> <button style="margin-left:-23px" type="submit" class="btn btn-success btn-xs" value="Register"  >Register</button> </a> </li>
	<li><a href="{{url_for('staff_login')}}">Staff Login</a></li>
  {% endif %}
	<li><a href="{{url_for('apply')}}">Apply Salesperson</a></li>
  
  <li style="padding-top: 15px"class="search" >
    <form action="{{ url_for('search_items') }}" method=post>
        <input style="padding-top: 0px" 	type=text name=search placeholder="Search" value="{{ request.form.search}}">
        <button style="padding: 5px; padding-left:10px; padding-right:10px " type=submit class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </form>
  </li>
  <li><a href=# >Cart</a></li>


{% endblock %}




{% block body %}


			
			{% for message in get_flashed_messages() %}
				<h5 style="text-align:center">{{ message }}</h5>
			{% endfor %}

	
	<script type="text/javascript">
		
		function ChangeBackgroundColor(section, new_color)
		{
			section.style.backgroundColor = new_color;
		}
		function RestoreBackgroundColor(section)
		{
			section.style.backgroundColor = "#000000";
		}
	</script>


	
	<table>
		<!-- Tab -->
		<tr><td style="background-color:#ffffff" colspan=3>
			
			<div class="padded" style="background-color: #dfefff">
				{% if items %}
					<h3>Search Results:</h3>
				{% else %}
					<h3>Search Returned No Items</h3>
				{% endif %}
				
				<table style="border: 0px">
				{% for item in items %}
            <tr style="border: 2px solid #333;" bgcolor="#fdfdff">
              <td>
              	<img src="{{url_for('static', filename=item["img_path"] )}}" style="width: {{item['img_width']}}px">			
              </td>
              <td>
                <h3>{{item['itemname']}}</h3>
                by {{item['supplier']}}
              </td>
              <td>
                Price: $<script>
                	var num = {{item['price']}};
                	document.write(parseFloat(Math.round(num * 100) / 100).toFixed(2));
                </script>
              </td>
              <td>
                Available: {{item['quantity']}}
              </td>
              <td>
								<div class="padded">
								<form role="form" class="form-inline" action="{{ url_for('update_browse') }}" method="POST">
   	     							<input type="hidden" name="barcode" value="{{item['barcode']}}">
   	     							<input type="hidden" name="price" value="{{item['price']}}">
   	     							<input type="hidden" name="available" value="{{item['quantity']}}">
  	      						<div class="form-group" style="padding-bottom:6px">
                        Quantity: <input type="text" name="quantity" style="width:70px">
                      </div><br>
   	    			 				<button type="submit" class="btn btn-info" value="submit">Add to Cart</button>
   		   						</form></div>
              </td>
            </tr>
            <tr style="border: 0px">
              <td><br></td>
            </tr>
				{% endfor %}
				</table>
		</td></tr>
	</table> 
	
	<br>
	<br>
	<div style="font-size: 0px">.</div>
	
{% endblock %}
