{% extends "layout.html" %}

{% block bar %}
	<li class = "active"><a href="#">Restock Items</a></li>
	<li><a href="{{url_for('sales_person')}}">Sales Person</a></li>
	<li><a href="{{url_for('logout')}}">Log out</a></li>
{% endblock %}

{% block body %}
	<h2>Sales Person</h2>
	
	<script type="text/javascript">
		
		function ChangeBackgroundColor(section, new_color)
		{
			section.style.backgroundColor = new_color;
		}
		function RestoreBackgroundColor(section)
		{
			section.style.backgroundColor = "#000000";
		}
	</script>


	
	<table>
		<!-- Tab -->
		<tr style="cursor:pointer">
			<th>
				<div style="background-color:#b92100; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#b92100')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('accept_order')}}'">
					<div style="color:white; text-align:center">
						Accept Order
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#0021b9; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#009bff; width:100%;" onclick="window.document.location='#'">
					<div style="color:white; text-align:center">
						Restock Items
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#30b500; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#30b500')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('sp_settings')}}'">
					<div style="color:white; text-align:center">
						Settings
					</div>
				</div>
			</th>
		</tr>
		<tr><td style="background-color:#ffffff" colspan=3>
			<div class="padded" style="background-color:#008bdf; width:100%;">
				<div style="color:white; text-align:center">
					<h4>Restock Items</h4>
				</div>
			</div>
			






			<div class="padded" style="background-color: #dfefff">
				<table style="border: 0px">
				{% for item in items %}
					<tr style="border: 2px solid #333;" bgcolor="#fdfdff">
						<td>
             			   <img src="{{url_for('static', filename=item["img_path"] )}}" style="width: {{item['img_width']}}px">
                			<br><strong>Barcode</strong>: {{item['barcode']}}
						</td>
						<td>
							<h3>{{item['itemname']}}</h3>
							by {{item['supplier']}}
						</td>
						<td>
							<strong>Price</strong>: $<script>
                	var num = {{item['price']}};
                	document.write(parseFloat(Math.round(num * 100) / 100).toFixed(2));
                </script>
						</td>
						<td>
							<strong>Quantity</strong>: {{item['quantity']}}
						</td>
						<td>
							<strong>Rating</strong>: {{item['rating']}}/5
						</td>
			              <td>
			              	<div class="padded">
								<form role="form" class="form-inline" action="{{ url_for('view_comments') }}" method="POST">
			   	     				<input type="hidden" name="barcode" value="{{item['barcode']}}">
			   	     				<input type="hidden" name="itemname" value="{{item['itemname']}}">
			   	     				<button type="submit" class="btn btn-success" value="submit">View Comments</button>
			   		   			</form></div>
        			      </td>
						<td>
							<div class = "padded" style="padding-top:18px; padding-right:0px" >
								<form role = "form" method="POST"
									action="{{ url_for('sp_restock') }}">
									<div class="form-group">
										<input style="width: 100px; text-align:center"  type=text name=quantity placeholder="Quantity">	
							        </div>

							        <div class="padded" style="margin-top: -20px">
			   		   					<form role="form" class="form-inline" action="{{ url_for('dt_remove_items') }}" method="POST">
			   	     						<input type="hidden" name="barcode" value="{{item['barcode']}}">
			   	    			 			<button type="submit" class="btn btn-danger btn-md" value="submit" >Restock</button>
			   		   					</form>
		   		   					</div>
								</form>
							</div>
						</td>

					</tr>
					<tr style="border: 0px">
						<td><br></td>
					</tr>
				{% endfor %}
				</table>
				
				{% if not items %}
					No Items
				{% endif %}
			</div>
		</td></tr>
	</table> 
	
	<br>
	<br>
	<div style="font-size: 0px">.</div>
{% endblock %}