{% extends "layout.html" %}

{% block bar %}

	<li class = "active"><a href="#">Staff Login</a></li>
	<li><a href="{{url_for('home')}}">Home</a></li>
{% endblock %}

{% block body %}

<div class="padded">
<div class="padded pretty">
	<h3>Staff Login</h3>
	{% for message in get_flashed_messages() %}
		<h5 style="text-align:center">{{ message }}</h5>
	{% endfor %}
	<form role="form" action="{{ url_for('staff_login') }}" method="POST">
   	 	<div class="form-group">
   	 		<label for="username"><br>Username:</label>
   	       	<input type=text name=username class="form-control" placeholder="Username">
   	       	<label for="password"><br>Password:</label>
   	       	<input type=password name=password class="form-control" placeholder="Password">
   	 	</div>
   	 	<label class="radio-inline"><input type="radio" name="position" value="Director" checked>Director</label><br>
		<label class="radio-inline"><input type="radio" name="position" value="Manager">Manager</label><br>
		<label class="radio-inline"><input type="radio" name="position" value="Salesperson">Sales Person</label>
   	     <br><br>
   	    <button type="submit" class="btn btn-success" value="Submit">Login</button>
   	</form>
   	<br>
   	<h5 style="font-size: 0px">hi!</h5>
</div>
</div>

	
{% endblock %}