{% extends "layout.html" %}

{% block bar %}

	<li class = "active"><a href="#">Submit Registration</a></li>
	<li><a href="{{url_for('home')}}">Home</a></li>
{% endblock %}

{% block body %}


<h3>{{message}}</h3>

	
{% endblock %}