{% extends "layout.html" %}

{% block bar %}

	<li>
		{% if session["logged_in"] %}
			<h5 style="color: white; margin-top:0px; margin-bottom:0px; font-size: 18px"> {{session['position']}}, 
			
			{% if session['position'] == "Member" %}
				<a href="{{ url_for('member') }}" style="color: white">  {{session["currName"]}}</a>
			{% elif session['position'] == "Salesperson" %}
				<a href="{{ url_for('sales_person') }}" style="color: white">  {{session["currName"]}}</a>
			{% elif session['position'] == "Manager" %}
				<a href="{{ url_for('manager') }}" style="color: white">  {{session["currName"]}}</a>
			{% elif session['position'] == "Director" %}
				<a href="{{ url_for('director') }}" style="color: white">  {{session["currName"]}}</a>
			{% endif %}
			
			<a style="color: white; padding-left: 10px; font-size: 15px" href="{{url_for('logout')}}">Logout</a>
			</h5>
		{% else %}
			<div class = "padded" style="padding-top:18px; padding-right:0px" >
				<form role = "form" class = "form-inline" method="POST"
					action="{{ url_for('login') }}">
					<div class="form-group">
						<input type=text name=Username placeholder="Username">	
			        </div>
					<div class="form-group">
						<input type=password name=Password placeholder="Password">
			        </div>
			        <button type="submit" class="btn btn-success btn-xs" value="login">Login</button>
				</form>
			</div>
		{% endif %}
	</li>

	<li>
		<div class = "padded" style="padding-top:18px; padding-left:1px">
		</div>
	</li>
  {% if not session["logged_in"] %}
  <li ><a href="{{url_for('register_member')}}"> <button style="margin-left:-23px" type="submit" class="btn btn-success btn-xs" value="Register"  >Register</button> </a> </li>
	<li><a href="{{url_for('staff_login')}}">Staff Login</a></li>
  {% endif %}
	<li><a href="{{url_for('apply')}}">Apply Salesperson</a></li>
  
  {% if session['logged_in'] %}
	  <li><a href={{url_for('member_cart')}}>
	  	<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Cart
	  </a></li>
  {% endif %}
  
  <li style="padding-top: 15px"class="search" >
    <form action="{{ url_for('search_items') }}" method=post>
        <input style="padding-top: 0px" 	type=text name=search placeholder="Search" value="{{ request.form.search}}">
        <button style="padding: 5px; padding-left:10px; padding-right:10px " type=submit class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </form>
  </li>

{% endblock %}




{% block body %}

			
			{% for message in get_flashed_messages() %}
				<h5 style="text-align:center">{{ message }}</h5>
			{% endfor %}

	
	<script type="text/javascript">
		
		function ChangeBackgroundColor(section, new_color)
		{
			section.style.backgroundColor = new_color;
		}
		function RestoreBackgroundColor(section)
		{
			section.style.backgroundColor = "#000000";
		}
	</script>


	
	<div class="padded" >
		<table style="border: 0px">
		
		{% if comments %}
			<h3> Comments for {{comments[0]['itemname']}}</h3>
		{% else %}
			<h3> No comments fond for this item</h3>
		{% endif %}
		{% for comment in comments %}
			<tr class="pretty">
			<td class="padded">
				{{comment['comment']}}
			</td>
			</tr>
			<tr><td><br></td></tr>
		{% endfor %}
		</table>
	<br>
	<div style="font-size: 0px">.</div>
	
{% endblock %}
