{% extends "layout.html" %}

{% block bar %}
	<li class = "active"><a href="{{url_for('manager')}}">Manager</a></li>
	<li><a href="{{url_for('logout')}}">Log out</a></li>
{% endblock %}

{% block body %}
	<h2>Manager</h2>
	
	<script type="text/javascript">
		
		function ChangeBackgroundColor(section, new_color)
		{
			section.style.backgroundColor = new_color;
		}
		function RestoreBackgroundColor(section)
		{
			section.style.backgroundColor = "#000000";
		}
	</script>


	
	<table>
		<tr style="cursor:pointer">
			<th>
				<div style="background-color:#b92100; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#b92100')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('mg_browse_items')}}'">
					<div style="color:white; text-align:center">
						Browse Items
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#009bff; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#009bff')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('hire_sp')}}'">
					<div style="color:white; text-align:center">
						Applications
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#186800; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#30b500; width:100%;" onclick="window.document.location='#'">
					<div style="color:white; text-align:center">
						View Sales People
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#b92100; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#b92100')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('blacklist_member')}}'">
					<div style="color:white; text-align:center">
						Blacklist Members
					</div>
				</div>
			</th>
			<th>
				<div style="background-color:#009bff; width:100%; height:3px;">
				</div>
				<div class="padded" style="background-color:#000000; width:100%;" onmouseover="ChangeBackgroundColor(this, '#009bff')" onmouseout="RestoreBackgroundColor(this)" onclick="window.document.location='{{url_for('mg_settings')}}'">
					<div style="color:white; text-align:center">
						Settings
					</div>
				</div>
			</th>
		</tr>
		<tr><td style="background-color:#ffffff" colspan=5>
			<div class="padded" style="background-color:#29a000; width:100%;">
				<div style="color:white; text-align:center">
					<h4>View Sales People</h4>
				</div>
			</div>
			<div class="padded" style="background-color:#e8ffe0">
			
			{% for message in get_flashed_messages() %}
				<h5 style="text-align:center">{{ message }}</h5>
			{% endfor %}
			
			<table style="border: 0px">
			{% for sp in sps %}
					<tr class="pretty">
						<td class="padded">
							<h3>{{sp['name']}}</h3>
						</td>
						<td>
							<strong>username</strong>: {{sp['username']}}<br>
							<strong>password</strong>: {{sp['password']}}
						</td>
						<td>
							<strong>email</strong>: {{sp['email']}}
						</td>
						<td>
							<strong>salary</strong>: $<script>
                	var num = {{sp['salary']}};
                	document.write(parseFloat(Math.round(num * 100) / 100).toFixed(2));
                </script>
						<td>
							<form role="form" class="form-inline" action="{{ url_for('mg_change_salary') }}" method="POST">
   	     						<input type="hidden" name="username" value="{{sp['username']}}">
  	      						<div class="form-group" style="padding-bottom:6px; padding-left: 4px">
   		    	   					<input type=text name=new_salary style="width:100px" placeholder="$">
   		    	 				</div><br>
   		    	 				<div style="padding-left: 4px">
			   	    	 			<button type="submit" class="btn btn-success btn-sm" value="Add">Change Salary</button>
			   	    	 		</div>
	   		   				</form>
						</td>
						
						<td>
							<div class="padded">
							<form role="form" class="" action="{{ url_for('fire_sp') }}" method="POST">
   	     						<input type="hidden" name="username" value="{{sp['username']}}">
   	    						<input type="hidden" name="accept" value="true">
   	    			 			<button type="submit" class="btn btn-danger" value="submit">Fire</button>
   		   					</form></div>
						</td>
					</tr>
					<tr><td><br></td></tr>
			{% endfor %}
			</table>
			
			</div>
		</td></tr>
	</table> 
{% endblock %}